<html>

<head>
    <title>dashboard</title>
</head>
<!--link to bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script type="text/javascript">
    function loadFavorite() {
         var request = new XMLHttpRequest();
         request.open('GET', '/favorities', true);
         var list = '<tr><td>City</td><td>Action</td></tr>';
         request.onload = function() {
            var json = JSON.parse(this.responseText);
                
                for(var i = 0; i < json.favoriteData.length; i++){
                    var favorite = "window.location.href='/deleteFav/" + json.favoriteData[i].city.toString() +"'";
                    var search = "window.location.href='/processFutureWith/" + json.favoriteData[i].city.toString() +"'";
                    var content = '<tr>';
                    console.log(json.favoriteData[i].city.toString());
                    content += '<td onclick="'+search+'">'+json.favoriteData[i].city.toString()+'</td>';
                    content += '<td onclick="'+favorite+'"><button class="btn btn-default mb-2">Delete</button></td>';
                    content += '</tr>';
                    list += content;
                }
                document.getElementById('FavoriteTable').innerHTML = list;
         }
        request.send();
    }




    function loadDatabase() {
        var request = new XMLHttpRequest();
        request.open('GET', 'https://vtc305cde-shape177113071.c9users.io/getAllcities', true);
        var list = '<tr><td>City</td><td>Date</td><td>description</td><td>template</td><td>max temp</td><td>min temp</td></tr>';
        request.onload = function() {
            var json = JSON.parse(this.responseText);

            for (var key in json) {
                console.log(json[key].template);
                var content = '<tr>';
                
                var favorite = "window.location.href='/favorite/" + json[key].city.toString() +"'";
                
                // content += '<td onclick="window.location.href=/favorite/'+json[key].city.toString()+"'>'+ json[key].city.toString(); + '</td>';
                // content += '<td onclick="window.location.href=/favorite/"'+json[key].city.toString()+">' + '</td>';
                // content += '<td onclick="window.location.href=/favourite/"' + json[key].city.toString() +>' + json[key].city.toString() +'</td>';
                
                content += '<td onclick="'+favorite+'">' + json[key].city.toString(); + '</td>';
                content += '<td>' + json[key].date.toString(); + '</td>';
                content += '<td>' + json[key].description.toString() + '</td>';
                content += '<td>' + json[key].template.toString() + ' °C</td>';
                content += '<td>' + json[key].temp_max.toString() + ' °C</td>';
                content += '<td>' + json[key].temp_min.toString() + ' °C</td>';
                content += '</tr>';
                list += content;
            }
            document.getElementById('displayAllCities').innerHTML = list;
        }
        request.send();
    }
    function load(){
            loadFavorite();
            loadDatabase();
        } 
    
</script>

<style type="text/css">
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        margin-bottom: 100px;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: #f2f2f2;
        padding: 25px;
    }
</style>

<body onload="load();" ng-app="">


    <div class="page-header">
        <h1> Welcome,
            <%= account %> ! <small>get the open weather</small></h1>
    </div>

    <!--Header-->
    <div ng-include="'/header.html'"></div>


<div class="container">
    <div id="IdBoard" onload="loadFavorite();">
        <frameset>
            <legend style="text-align:center">My Favorite</legend>
            <table id="FavoriteTable" class="table table-striped" align="center" style="text-align:center; width:80%">
            </table>
        </frameset>
    </div>



<hr/>
        <div class="manage ">
            <form action="/process" method="post">
                <center>
                    <select class="form-control" name="operator">
  <!--<option value="GET">Display the Data</option>-->
  <option value="POST">Insert the New Data </option>
  <option value="PUT">Update the database</option>
  <option value="DELETE">Delete the data</option>
</select>
                </center>

                <br/>

                <div class="input-group">
                    <span class="input-group-addon" id="sizing-addon2">Enter the city</span>
                    <input type="text" name="city" class="form-control" aria-describedby="sizing-addon2" require>
                </div>

                <br/>
                <input type="submit" value="Submit" class="btn btn-primary btn-block" />
                <br/>
                <blockquote>
                    <%=message %>
                </blockquote>
            </form>
        </div>


        <div>
            <table id="displayAllCities" class="table table-condensed table-hover">
                <tr>
                    <td></td>
                </tr>
            </table>
        </div>

    </div>


    <!--Header-->
    <div ng-include="'/footer.html'"></div>


</body>

</html>
