<html>

<head>
    <title>future plan</title>
</head>
<!--link to bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<script type="text/javascript">
    function loadDatabase(city) {
        var request = new XMLHttpRequest();
        var list = '<tr><td>City</td><td>Date</td><td>description</td><td>template</td><td>max temp</td><td>min temp</td></tr>';
        request.open('GET', 'https://vtc305cde-shape177113071.c9users.io/get/' + city, true);
        request.onload = function() {
            var json = JSON.parse(this.responseText);
            var content = '<tr>';
            content += '<td>' + city + '</td>';
            content += '<td>' + json.date.toString(); + '</td>';
            content += '<td>' + json.description.toString() + '</td>';
            content += '<td>' + json.template.toString() + ' °C</td>';
            content += '<td>' + json.temp_max.toString() + ' °C</td>';
            content += '<td>' + json.temp_min.toString() + ' °C</td>';
            content += '</tr>';
            list += content;
            document.getElementById('old').innerHTML = list;
        }
        request.send();
    }

    function loadFuturn(city) {
        var count = 0;
        var request = new XMLHttpRequest();
        var list = ' <tr><td>datetime</td><td>description</td><td>template</td><td>max temp</td><td>min temp</td></tr>';
        request.open('GET', 'https://vtc305cde-shape177113071.c9users.io/getfuture/' + city, true);
        request.onload = function() {
            var json = JSON.parse(this.responseText);
            for (var i = 0; json.list.length; i++) {
                if (i % 8 == 0) {
                    console.log(json.list[i].dt_txt);
                    console.log(json.list[i].weather[0].description);
                    console.log(json.list[i].main.temp_max);
                    var cityName = city;
                    var dt_txt = json.list[i].dt_txt.toString();
                    var description = json.list[i].weather[0].description.toString();
                    var temp = json.list[i].main.temp.toString();
                    var temp_max = json.list[i].main.temp_max.toString();
                    var temp_min = json.list[i].main.temp_min.toString();

                    var content = '<tr>';
                    // content += '<td>' + cityName + '</td>';
                    content += '<td>' + dt_txt + '</td>';
                    content += '<td>' + description + '</td>';
                    content += '<td>' + temp + ' °C</td>';
                    content += '<td>' + temp_max + ' °C</td>';
                    content += '<td>' + temp_min + ' °C</td>';
                    content += '</tr>';
                    list += content;
                    count += 1;
                    if (count == 5) {
                        break;
                    }
                }

            }
            document.getElementById('DisplayCity').innerHTML = "5 Days of "+city+" in future"
            document.getElementById('future3').innerHTML = list;
        }
        request.send();

    }

    function loading(city) {
        loadDatabase(city);
        loadFuturn(city);
    }
</script>

<style type="text/css">
    html {
        position: relative;
        min-height: 100%;
    }

    body {
        margin-bottom: 100px;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        background-color: #f2f2f2;
        padding: 25px;
    }
</style>


<body ng-app="" onload="loading('<%=selectedCity%>');">

    <div class="page-header">
        <h1> Welcome,
            <%= account %> ! <small>get the open weather</small></h1>
    </div>

    <!--Header-->
    <div ng-include="'/header.html'"></div>

    <div class='container'>

        <form action="/processFuture" method="post">
            <div class="row">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for city" name="city">
                    <span class="input-group-btn">
        <button class="btn btn-default" type="submit">Search</button>
      </span>
                </div>
            </div>
        </form>

        <div>
            <%=message%>
        </div>

        <br/>
        <blockquote>The Currect Data</blockquote>
        <table id="old" class="table table-bordered">
            <tr>
                <td>City</td>
                <td>date</td>
                <td>description</td>
                <td>template</td>
                <td>max temp </td>
                <td>min temp</td>
            </tr>
        </table>


        <br/>
        <blockquote id = 'DisplayCity'>5 Days in future</blockquote>
        <table id="future3" class="table table-condensed table-hover">
            <tr>
                <!--<td>City</td>-->
                <td>datetime</td>
                <td>description</td>
                <td>template</td>
                <td>max temp </td>
                <td>min temp</td>
            </tr>

        </table>
    </div>

    <div ng-include="'/footer.html'"></div>

</body>

</html>
