<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login Page</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/font-awesome-4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/Linearicons-Free-v1.0.0/icon-font.min.css">
	<link rel="stylesheet" type="text/css" href="/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="/animsition/css/animsition.min.css">
	<link rel="stylesheet" type="text/css" href="/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="/daterangepicker/daterangepicker.css">
	<link rel="stylesheet" type="text/css" href="/util.css">
	<link rel="stylesheet" type="text/css" href="/main.css">
</head>
<body>
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<div class="login100-form-title" style="background-image: url(/weather.jpg);">
					<span class="login100-form-title-1">
						Sign In
					</span>
				</div>
				
				
				<form class="login100-form validate-form" action="/login" method="post" >
					<div class="wrap-input100 validate-input m-b-26" data-validate="Username is required">
						<span class="label-input100">Username</span>
						<input class="input100" type="text" name="username" placeholder="Enter username">
						<span class="focus-input100"></span>
					</div>

					<div class="wrap-input100 validate-input m-b-18" data-validate = "Password is required">
						<span class="label-input100">Password</span>
						<input class="input100" type="password" name="pass" placeholder="Enter password">
						<span class="focus-input100"></span>
					</div>
					<hr/ >
					<div>
						<%= message %>
							</div>				
					<br/>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Login
						</button>
					</div>
					
				</form>
				<hr/>
				<center><a href ="register">Register</a></center>
			</div>
		</div>
	</div>
	
	<script src="/jquery/jquery-3.2.1.min.js"></script>
	<script src="/animsition/js/animsition.min.js"></script>
	<script src="/bootstrap/js/popper.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
	<script src="/select2/select2.min.js"></script>
	<script src="/daterangepicker/moment.min.js"></script>
	<script src="/daterangepicker/daterangepicker.js"></script>
	<script src="/countdowntime/countdowntime.js"></script>
	<script src="/main.js"></script>

</body>
</html>